{% extends "base.html" %}
{% block title %}Log In – Bookie{% endblock %}
{% block content %}

<!-- this is the log in page, not really much to talk about here, the flashed messages are for things like invalid accounts and passwords -->

<h2>Log in</h2>

<form method="POST">
    <p><label>Username: <input type="text" name="username" required></label></p>
    <p><label>Password: <input type="password" name="password" required></label></p>
    <p><button type="submit">Log in</button></p>
</form>

<a href="{{ url_for('register') }}">Don't have an account? Register</a>

{% endblock %}