{% extends "base.html" %}
{% block content%}
<h1>{{ profile_user["username"] }}'s Profile</h1>
<div>
    <p><strong>Total Reviews:</strong>  {{ total_reviews }}</p>
        <p>
            <strong>Average Rating:</strong>
                {% if avg_rating %}
                    {% for i in range (1, 6) %}
                        {% if i <= avg_rating|round(0, 'floor') %}
                            ★
                        {% else %}
                            ☆
                        {% endif %}
                    {% endfor %}
                    {{ "%.1f"|format(avg_rating) }}/5
                {% else %}
                    No ratings yet
                {% endif %}
        </p>
    </div>
    <hr>
    <h2>{% if user and user["id"] == profile_user["id"] %}Your Reviews{% else %}{{ profile_user["username"] }}'s Reviews{% endif %}</h2>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>
                    <a href="{{ url_for('book', book_id=review['book_id']) }}">{{ review['book_title'] }}</a> -
                
                </h3>
                
                <p><strong>Author:</strong> {{ review["book_author"] }}</p>

                <p></p>
                    <strong>Rating:</strong>
                    <span class="stars">
                        {% for i in range(1, 6) %}
                            {% if i <= review['rating'] %}
                                ★
                            {% else %}
                                ☆
                            {% endif %}
                        {% endfor %}
                    </span>
                    {{ review['rating'] }}/5
                    {% if review['review_text'] %}
                        <p><strong>Review:</strong> {{ review['review_text'] }}</p>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't written any reviews yet.</p>
    {% endif %}
{% endblock %}